* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  line-height: 1.15;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

textarea {
  overflow: auto;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
  cursor: pointer;
  background-color: transparent;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

h1,
h2 {
  margin: 0 auto;
  text-align: center;
}